@media(max-width: 1000px) {

    .menu-kami{
        width: 48%;
        margin-right: 1%;
        margin-bottom: 50px;
    
    }

}

@media(max-width: 670px) {
    .bagian-teks{
        text-align: left;
    }
    
    .bagian-teks h1{
        font-size: 24px;
    }

    .bagian-teks h2{
        font-size: 20px;
        line-height: 20px;
    }

    .bagian-teks p{
        font-size: 20x;
        line-height: 22px;
    }

    .tombol {
        margin-top: 50px;
    }

    .menu-kami{
        width: 100%;
        margin-bottom: 50px;
    
    }
}