body {
    font-family: "Calibri";
}

a {
    text-decoration: none;
}

.container {
    max-width: 1100 px;
    padding: 0 15px;
    margin: 0 auto;
    color: #4d68f0;
}

.Introduction {
    margin: 15px 0;
    padding-bottom: 30px;
}

.tombol {
    display: inline-block;
    background-color: blue;
    color: white;
    opacity: 0.6;
    padding: 10px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.tombol:hover {
    opacity: 1;
}

.tombol:active {
    background-color: blueviolet;
}

.Introduction h1 {
    line-height: 10px;
}

.bagian-teks {
    float:left;
}


