.container {
    max-width: 1100 px;
    padding: 0 15px;
    margin: 0 auto;
    color: #4d68f0;
}

.Introduction {
    margin: 15px 0;
    padding-bottom: 30px;
}

.selengkapnya {
    display: inline-block;
    background-color: blue;
    color: white;
    opacity: 0.75;
    padding: 15px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.selengkapnya:hover {
    transition: all 0.5s;
    opacity: 0.85;
    cursor: pointer;
}

.selengkapnya:active {
    opacity: 1.0;
}

.Introduction h1 {
    line-height: 10px;
}

.bagian-teks {
    float:left;
}


