*{
  box-sizing: border-box;
}
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  text-decoration: none;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> header >>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

header {
  height: 80px;
  width: 100%;
  background-color: rgba(245,245,245, 0.75);
  position :fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.header-left {
  float: left;
  
  padding-left: 50px;
}

.header-right {
  float: right;
  padding-right: 50px;
}

.header-right a {
  line-height: 80px;
  padding: 0 25px;
  color: #25546F;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: whitesmoke;
}
.logo {
  width: 100px;
  height: 80px;

}
.menu-icon {
    display:none;
    
    color: rgba(245,245,245, 0.75);
    float: right;
    font-size: 25px;
    padding: 21px 0px;
  }

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Introduction >>>>>>>>>>>>>>>>>>>*/
@keyframes imageChange{
    0%   {background-image: url(mie_ayam.png);}
    25%  {background-image: url(mie_bakso.jpg); }
    50%  {background-image: url(mie_kering.png); }
    75%  {background-image: url(mie_polos.png );}
    100% {background-image: url(mie.png); }
  }
.introduction {
 
height: 400px;
margin-top: 100px;
margin-bottom: 20px;
background-image: url(mie_ayam.png);
animation-name: imageChange;
animation-duration: 10s;
animation-iteration-count: infinite;
background-size: cover;
text-align: center;
border-radius: 10px;
} 


.bagian-teks {
width: 100%;
background-color: rgb(245,245,245,0.5);
line-height: 10px;
padding: 40px 20px;
color: #ff5e00;
opacity: 0.8;
}


.tombol {
display: inline-block;
background-color: blue;
color: white;
opacity: 0.6;
padding: 15px 50px;
margin-top: 80px;
border-radius: 10px;
}

.tombol:hover {
opacity: 1;
}

.tombol:active {
background-color: blueviolet;
}






/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Menu Icon>>>>>>>>>>>>>>>>>>>>>>> */

.menu-icon {
  color: #25546F;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display:none;
}
.clear {
clear: left;
}

.menu-wrapper{
  border-radius: 20px;
  position: relative;
  margin-top: 200px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #bba8a8;
  text-align: center;
  margin: 20px 0 20px 0;
}
.heading{
  padding-top: 20px;
  padding-bottom: 40px;
  color: #5f5d60;
}
.heading h2 {
  font-weight: normal;
}
.menu-kami{
  position:relative;
  border-radius: 20px;
  background-color: #555c92;
  box-shadow: 5px 5px #2d3150 ;
  margin-right: 3%;
  float: left;
  width: 22%;
}
.menu-kami:hover{
  top: 7px;
  left: 7px;
  box-shadow: none ;
}
.menu-kami img{
  width: 200px;
  height: 200px;
  padding: 10px 10px 0 10px;
  border-radius: 20px;
  background-color: rgba(138, 122, 122, 0.576);
}
.menu-icon{
  position: relative;
}
.menu-kami p{
  font-weight: bold;
}
.menu-icon p{
  position: absolute;
  top: 44%;
  width: 100%;
  color: black;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>> Map >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.gmap_canvas iframe{
  width: 100%;
  height: 600px;
  border-radius: 20px;
}
.mapouter{
  border-radius: 20px;
  margin-bottom: 50px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 500px;
  background-color: blue;
}

.heading-map h2{
  padding-top: 20px;
  color: white;
}



/* >>>>>>>>>>>>>>>>>>>>>>>>> Footer >>>>>>>>>>>>>>>>>>>>>>> */
footer img {
  width:125px;
}

footer p {
  color:#b3aeb5;
  font-size:12px;
}

footer {
  padding-top:30px;
}
